# practice preparing/ wrangling messy dataset in a standardized way
>
> (Quote from Hould)
>
> The structure Wickham defines as tidy has the following attributes:
>
> Each variable forms a column and contains values
> 
> Each observation forms a row
>
> Each type of observational unit forms a table

In [1]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join
import glob
import re

## Column headers are values, not variable names.

In [2]:
df = pd.read_clipboard()
df

                  religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  $50-75k
0                 Agnostic     27       34       60       81       76      137
1                  Atheist     12       27       37       52       35       70
2                 Buddhist     27       21       30       34       33       58
3                 Catholic    418      617      732      670      638     1116
4        Dont know/refused     15       14       15       11       10       35
5         Evangelical Prot    575      869     1064      982      881     1486
6                    Hindu      1        9        7        9       11       34
7  Historically Black Prot    228      244      236      238      197      223
8         Jehovahs Witness     20       27       24       24       21       30
9                   Jewish     19       19       25       25       30       95

In [3]:
# observation: even without using histogram, 
# we can roughly see the trend of income groups underlying each religion
# if need to do further analysis, need to process categorical income and region
clean_df = pd.melt(df, ["religion"],
                  var_name = "income",
                  value_name = "freq")
clean_df = clean_df.sort_values(by = ["religion"]).reset_index()
clean_df

    index                 religion   income  freq
0       0                 Agnostic    <$10k    27
1      30                 Agnostic  $30-40k    81
2      40                 Agnostic  $40-50k    76
3      50                 Agnostic  $50-75k   137
4      10                 Agnostic  $10-20k    34
5      20                 Agnostic  $20-30k    60
6      41                  Atheist  $40-50k    35
7      21                  Atheist  $20-30k    37
8      11                  Atheist  $10-20k    27
9      31                  Atheist  $30-40k    52
10      1                  Atheist    <$10k    12
11     51                  Atheist  $50-75k    70
12     42                 Buddhist  $40-50k    33
13      2                 Buddhist    <$10k    27
14     12                 Buddhist  $10-20k    21
15     32                 Buddhist  $30-40k    34
16     52                 Buddhist  $50-75k    58
17     22                 Buddhist  $20-30k    30
18     43                 Catholic  $40-50k   638
19     33                 Catholic  $30-40k   670
20     23                 Catholic  $20-30k   732
21     53                 Catholic  $50-75k  1116
22     13                 Catholic  $10-20k   617
23      3                 Catholic    <$10k   418
24     24        Dont know/refused  $20-30k    15
25     44        Dont know/refused  $40-50k    10
26      4        Dont know/refused    <$10k    15
27     54        Dont know/refused  $50-75k    35
28     14        Dont know/refused  $10-20k    14
29     34        Dont know/refused  $30-40k    11
30     25         Evangelical Prot  $20-30k  1064
31     55         Evangelical Prot  $50-75k  1486
32     15         Evangelical Prot  $10-20k   869
33      5         Evangelical Prot    <$10k   575
34     45         Evangelical Prot  $40-50k   881
35     35         Evangelical Prot  $30-40k   982
36     56                    Hindu  $50-75k    34
37     26                    Hindu  $20-30k     7
38     46                    Hindu  $40-50k    11
39     16                    Hindu  $10-20k     9
40     36                    Hindu  $30-40k     9
41      6                    Hindu    <$10k     1
42     47  Historically Black Prot  $40-50k   197
43     37  Historically Black Prot  $30-40k   238
44     57  Historically Black Prot  $50-75k   223
45     27  Historically Black Prot  $20-30k   236
46     17  Historically Black Prot  $10-20k   244
47      7  Historically Black Prot    <$10k   228
48      8         Jehovahs Witness    <$10k    20
49     38         Jehovahs Witness  $30-40k    24
50     58         Jehovahs Witness  $50-75k    30
51     48         Jehovahs Witness  $40-50k    21
52     28         Jehovahs Witness  $20-30k    24
53     18         Jehovahs Witness  $10-20k    27
54     29                   Jewish  $20-30k    25
55     39                   Jewish  $30-40k    25
56     19                   Jewish  $10-20k    19
57      9                   Jewish    <$10k    19
58     49                   Jewish  $40-50k    30
59     59                   Jewish  $50-75k    95

## Multiple variables are stored in one column.

In [41]:
# tons of na 
# If a song is in the Top 100 for less than 75 weeks, 
# the remaining columns are filled with missing values.
df = pd.read_csv("billboard.csv", encoding = "mac_latin2")

In [42]:
df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Treatment (a quote from original blog post)
- melt the weeks columns into a single date column. 
- create one row per week for each record. 
- If there is no data for the given week, we will not create a row.

In [43]:
# Melting
# id_vars can be a list of strings, 
# original col names
id_vars = ["year",
           "artist.inverted",
           "track",
           "time",
           "genre",
           "date.entered",
           "date.peaked"]
df = pd.melt(frame = df, id_vars = id_vars, var_name = "week", value_name = "rank")

**Formatting**

\d+ 

**\d** -> metacharacter that matches **any digit**. 

note it will be safer to do "\\d+" since backslash also means escape sequences 

(e.g., \n for newline)

In [44]:
# Cleaning out unnecessary rows
df = df.dropna()

In [45]:
# format
# extract week and rank as int
# especially for week, need to clean out all the unnecessary info
df["week"] = df["week"].str.extract('(\d+)', expand = False)
# .astype(int)
df["rank"] = df["rank"].astype(int)

In [46]:
df["week"] = df.week.astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5307 entries, 0 to 20334
Data columns (total 9 columns):
year               5307 non-null int64
artist.inverted    5307 non-null object
track              5307 non-null object
time               5307 non-null object
genre              5307 non-null object
date.entered       5307 non-null object
date.peaked        5307 non-null object
week               5307 non-null int64
rank               5307 non-null int64
dtypes: int64(3), object(6)
memory usage: 414.6+ KB

In [48]:
# Create "date" columns
df['date'] = pd.to_datetime(df['date.entered'])\
    + pd.to_timedelta(df['week'], unit='w')\
    - pd.DateOffset(weeks=1)

df = df[["year", 
         "artist.inverted",
         "track",
         "time",
         "genre",
         "week",
         "rank",
         "date"]]
df = df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])

# Assigning the tidy dataset to a variable for future usage
billboard = df

df.head(10)

,year,artist.inverted,track,time,genre,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25
1831,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,6,94,2000-04-01
2148,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,7,99,2000-04-08
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1,91,2000-09-02
604,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2,87,2000-09-09
921,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,3,92,2000-09-16

## Variables are stored in both rows and columns.

## Multiple types of observational units are stored in the same table.

## A single observational unit is stored in multiple tables.